// .mui-input-row label~input,
// .mui-input-row label~select,
// .mui-input-row label~textarea {
//   float: left;
// }
 .input-group .input-row{
        justify-content:flex-start;
    }
  
 p {
     text-align: center;
     margin-top: 40px;
 }
 //底部提示样式
 .tip-bottom{
     padding:17px 15px ;
     .icon{
         margin-right: 6px;
     }
 }
 .pwd-box {
     width: 310px;
     padding-left: 1px;
     position: relative;
     border: 1px solid #4cbeff;
     border-radius: 3px;
     overflow: hidden;
     text-align: center;
     margin: auto;
     background: #fff;
 }
 
 .pwd-box input[type="tel"] {
     width: 99%;
     height: 45px;
     color: transparent;
     position: absolute;
     top: 0;
     left: 0;
     border: none;
     font-size: 18px;
     opacity: 0;
     z-index: 1;
     letter-spacing: 35px;
     margin-bottom: 0;
 }
 
 .fake-box input {
     margin-bottom: 0;
     width: 44px;
     height: 48px;
     border: none;
     border-right: 1px solid #e5e5e5;
     text-align: center;
     font-size: 30px;
     border-radius: 0;
 }
 
 .fake-box input:nth-last-child(1) {
     border: none;
 }
 
.psw-title {
     font-size: 14px;
     font-weight: normal;
     color: #141414;
     text-align: center;
     margin: 20px 0;
     margin-top: 91px;
 }
 .psw-title{
     margin-top: 20px;
 }
 .btn-forgetpassword{
     width: 310px;
     text-align: right;
     margin: 0 auto;
     margin-top: 10px;
 }
#quick-next{
    width: 100%;
    margin-top:39px;
}
.gray~div{
    #quick-next{
        margin-top: 17px;
    }
}
